.header {

}

.card-list {
    background-color: #f8f9fa !important;
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #fff;
    padding: 4rem 2rem;
}

.navbar-brand img {
    max-height: 30px;
    margin-right: 10px;
}

.bd-footer .container-fluid {
    text-align: center;
}